RewriteOptions inherit

ErrorDocument 404 /404/index.html

AddHandler application/x-httpd-php5 .html

# Always use www in the domain
# Replace 'example.com' with your domain name
RewriteEngine on
RewriteCond %{HTTP_HOST} !^forms\. [NC]
RewriteCond %{HTTP_HOST} !^dev\. [NC]
RewriteCond %{HTTP_HOST} !^www\. [NC]
RewriteCond %{HTTP_HOST} ^louisianime\.com$ [NC]
RewriteRule .? http://www.%1louisianime.com%{REQUEST_URI} [R=301,L]

RewriteCond %{HTTP_HOST} ^louisianime\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.louisianime\.com$
RewriteRule ^registration$ "http\:\/\/www\.eventbrite\.com\/e\/louisianime\-baton\-rouge\-tickets\-17757034769" [R=302,L]

RewriteCond %{HTTP_HOST} ^louisianime\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.louisianime\.com$
RewriteRule ^artistalley\/?$ "http\s:\/\/www\.eventbrite\.com\/e\/louisianime\-baton\-rouge\-2017\-dealers\-tickets\-24221591432" [R=302,L]

RewriteCond %{HTTP_HOST} ^louisianime\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.louisianime\.com$
RewriteRule ^news\/$ "http\:\/\/www\.louisianime\.com\/blog\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^louisianime\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.louisianime\.com$
RewriteRule ^contacts$ "http\:\/\/www\.louisianime\.com\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^louisianime\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.louisianime\.com$
RewriteRule ^2015\/03\/26\/welcoming\-cosplay\-guest\-envel\-to\-louisianime\-2015\/$ "http\:\/\/www\.louisianime\.com\/cosplay_guests_2015\/2015\/03\/26\/welcoming\-cosplay\-guest\-envel\-to\-louisianime\-2015\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^louisianime\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.louisianime\.com$
RewriteRule ^2014\/08\/01\/a\-whole\-new\-year\/$ "http\:\/\/www\.louisianime\.com\/news\/2014\/08\/01\/a\-whole\-new\-year\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^louisianime\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.louisianime\.com$
RewriteRule ^2015\/02\/15\/Guests\ and\ Cosplay\/$ "http\:\/\/www\.louisianime\.com\/guests_2015\/2015\/02\/15\/guests\-and\-cosplay\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^louisianime\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.louisianime\.com$
RewriteRule ^2015\/04\/07\/announcing\-greg\-ayres\/$ "http\:\/\/www\.louisianime\.com\/guests_2015\/2015\/04\/07\/announcing\-greg\-ayres\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^louisianime\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.louisianime\.com$
RewriteRule ^2015\/04\/29\/ready\-to\-plan\-your\-schedule\/$ "http\:\/\/www\.louisianime\.com\/news\/2015\/04\/29\/ready\-to\-plan\-your\-schedule\/" [R=301,L]
