---
layout: page
title: About Us
description: Learn all aobut LouisiANIME. Check here for information about dates and location, vendors, volunteer sign ups, rules, and our terms of service.
---

<!-- BEGIN ABOUT US -->
</section>
<section id="about" class="blog-front below-map">
<div class="row">
    <div class="col-md-12 mg-bt-80">
        <div class="header-content">
            <h2>About Us</h2>
            <h3>Behind the <b>awesome</b> production.
            </h3>
        </div>
        <p>LouisiANIME started May 8-10 of 2009 at the Baton Rouge Marriott. We are best known for our family friendly atmosphere that still provides some adult fun later in the evening in addition to activity rich programming such as leatherworking, zombie tag, and tea tasting. LouisiANIME 2015 took place at the Ramada Lafayette Conference Center, a beautiful resort styled hotel with the most amazing and friendly staff. LouisiANIME was listed as one of the top 100 anime conventions in the United States by Cosplayful Magazine in 2015, and we work hard to ensure we provide a convention of the highest quality for you. Because by showing up every year, you make this possible, and it means a lot to us to be able to be here.</p>
    </div>
</div>
<div class="row" style="margin-bottom: 120px">
    {% for post in site.categories.information %}
    <article class="col-md-4 col-sm-6">
        <a href="{{ post.url }}"><figure class="blog-thumb">
            <img src="{% if post.image %}{{ post.image }}{% else %}/images/carousel/carousel1.jpg{% endif %}" alt="{{ post.description }}" {% if post.description %}title="{{ post.description }}"{% endif %}>
        </figure></a>
        <div class="post-area">
            <a href="{{ post.url }}">
                <h4>{{ post.title }}</h4>
            </a>
            <p class="post-content">{{post.content|strip_html|truncate:190}}</p>
            <a class="btn btn-dark" href="{{ post.url }}">Read More</a>
        </div>
    </article>
    {% endfor %}
</div>
</section>
<!-- END MAP -->
