---
layout: page
title: About Us
description: Learn all aobut LouisiANIME. Check here for information about dates and location, vendors, volunteer sign ups, rules, and our terms of service.
---

<!-- BEGIN ABOUT US AND MAP -->
<section class="map" id="map" data-lat='30.423475' data-lng='-91.134535' data-address="<a href='https://www.google.com/maps/place/Baton+Rouge+Marriott/@30.423475,-91.134535,17z/data=!3m1!4b1!4m2!3m1!1s0x8626a402471a06c9:0x57c44e5636b023e5' style='color: blue;'><strong>Baton Rouge Marriott</strong><br/><br/>5500 Hilton Avenue<br />Baton Rouge, LA  70808<br/>Phone: +1-225-924-5000<br/></a>" data-color="#0000FF">
</section>
<section id="about" class="blog-front below-map">
<div class="row" style="margin: 60px;">
    <div class="col-md-12 mg-bt-80">
        <div class="header-content">
            <h2>Hotel</h2> 
            <h3>We're <b>BACK</b> in <b>Baton Rouge!</b></h3>
        </div>
        <p>We've heard you ask for it and now we're doing it. Back in Baton Rouge! This March 25-27th we'll be at the Baton Rouge Marriott. Register now for just $99 a night and enjoy wired internet in guest rooms, WIFI in public areas, and free parking!</p>
        <ul>
            <li><a href="http://www.marriott.com/meeting-event-hotels/group-corporate-travel/groupCorp.mi?resLinkData=2016+LouisiAnime%5EBTRMC%60LOULOUA%6099.00%60USD%60false%604%603%2F24%2F16%603%2F28%2F16%603%2F3%2F16&app=resvlink&stop_mobi=yes"><b>Register Online Now!</b></a></li>
        </ul>
        <p>You can use the link above, or use the contact information below to reserve a room. Just ask for the LouisiANIME rate:</p>
        <ul>
            <li><a href="https://www.google.com/maps/place/Baton+Rouge+Marriott/@30.423475,-91.134535,17z/data=!3m1!4b1!4m2!3m1!1s0x8626a402471a06c9:0x57c44e5636b023e5">Baton Rouge Marriott<br/>
                5500 Hilton Avenue<br/>
                Baton Rouge, LA  70808</a><br/>
                Phone: +1-225-924-5000<br/>
                Fax: +1-225-926-8152
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12 mg-bt-80">
        <div class="header-content">
            <h2>About Us</h2>
            <h3>Behind the <b>awesome</b> production.
            </h3>
        </div>
        <p>LouisiANIME started May 8-10 of 2009 at the Baton Rouge Marriott. We are best known for our family friendly atmosphere that still provides some adult fun later in the evening in addition to activity rich programming such as leatherworking, zombie tag, and tea tasting. LouisiANIME 2015 took place at the Ramada Lafayette Conference Center, a beautiful resort styled hotel with the most amazing and friendly staff. LouisiANIME was listed as one of the top 100 anime conventions in the United States by Cosplayful Magazine in 2015, and we work hard to ensure we provide a convention of the highest quality for you. Because by showing up every year, you make this possible, and it means a lot to us to be able to be here.</p>
    </div>
</div>
<div class="row" style="margin-bottom: 120px">
    {% for post in site.categories.information %}
    <article class="col-md-4 col-sm-6">
        <a href="{{ post.url }}"><figure class="blog-thumb">
            <img src="{% if post.image %}{{ post.image }}{% else %}/images/carousel/carousel1.jpg{% endif %}" alt="{{ post.description }}" {% if post.description %}title="{{ post.description }}"{% endif %}>
        </figure></a>
        <div class="post-area">
            <a href="{{ post.url }}">
                <h4>{{ post.title }}</h4>
            </a>
            <p class="post-content">{{post.content|strip_html|truncate:190}}</p>
            <a class="btn btn-dark" href="{{ post.url }}">Read More</a>
        </div>
    </article>
    {% endfor %}
</div>
</section>
<!-- END MAP -->
