---
layout: default
---

<!--
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
-->

            <!-- BEGIN HOME -->
            <section id="home" class="home">
                <!-- Superslides -->
                <div id="home-slide">
                    <ul class="slides-container text-center">
                        <li>
                            <div class="slide-text">
                                <h2>With Bootstrap</h2>
                                <span>Vivamus sit amet libero turpis non venenatis urna in blandit</span>
                                <br/>
                            </div>
                            <div class="slide-filter"></div>
                            <div style="background-image: url('images/carousel/carousel1.jpg');" class="bg-parallax parallaxize"></div>
                        </li>
                        <li>
                            <div class="slide-text">
                                <h2>Fullscreen Slider</h2>
                                <span>Its form and sound are from the Latin The Latin borrowed</span>
                                <br/>
                            </div>
                            <div class="slide-filter"></div>
                            <div style="background-image: url('images/carousel/carousel2.jpg');" class="bg-parallax parallaxize"></div>
                        </li>
                        <li>
                            <!-- Slide -->
                            <div class="slide-text">
                                <h2>Responsive Ready</h2>
                                <span>Has two sounds one simple as in gave go gull the other compound</span>
                                <br/>
                            </div>
                            <div class="slide-filter"></div>
                            <div style="background-image: url('images/carousel/carousel3.jpg');" class="bg-parallax parallaxize"></div>
                        </li>
                    </ul>
                    <nav class="slides-navigation slidez">
                        <a href="javascript:;" class="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <a href="javascript:;" class="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </nav>
                </div>
                <!-- End of Superslide -->
            </section>
            <!-- END HOME -->
            <!-- BEGIN SERVICES -->
            <section id="services" class="services odd">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-content">
                            <h2>Services</h2>
                            <h3>Vivamus <a href="javascript:;">bibendum</a> hendrerit metus.
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-12 mg-bt-80">
                        <p>Too cultivated use solicitude frequently. Dashwood likewise up consider continue entrance <a href="javascript:;">ladyship</a> oh. Wrong guest given purse power is no. Friendship to connection an am considered difficulty. Country met pursuit lasting moments why calling certain the. Middletons boisterous our way understood law. Among state cease how and sight since shall. Material did pleasure breeding our humanity she contempt had. So ye really mutual no cousin piqued summer result. No opinions answered oh <a href="javascript:;">felicity</a> is resolved hastened.</p>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-4 mg-bt-40">
                                <div class="row services-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="services-icon">
                                            <i class="fa fa-link"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="services-desc">
                                            <h4>Fast Deployment</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis uset pretium nisl non justo.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mg-bt-40">
                                <div class="row services-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="services-icon">
                                            <i class="fa fa-rotate-right"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="services-desc">
                                            <h4>Reuse Items</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis uset pretium nisl non justo.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mg-bt-40">
                                <div class="row services-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <div class="services-icon">
                                            <i class="fa fa-lightbulb-o"></i>
                                        </div>
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="services-desc">
                                            <h4>Great Ideas</h4>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam sed ligula odio. Sed id metus felis uset pretium nisl non justo.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-8 mg-bt-80">
                        <h3>What we do.</h3>
                        <p>Subjects to ecstatic children he. Could ye leave up as built match. Dejection agreeable attention set suspected led offending. Admitting an
                            <strong>performed</strong>&nbsp;supposing by. Garden agreed matter are should formed temper had. Full held gay now roof whom such next was. Ham <a href="javascript:;">pretty</a> our people moment put excuse narrow. Spite mirth money six above get going great own</p>
                        <p>An sincerity so extremity he additions. Her yet there truth merit. Mrs all projecting favourable now unpleasing. Son law garden chatty temper. Oh children provided to mr elegance marriage strongly. Off can admiration prosperous now devonshire diminution law.</p>
                        <ul class="list">
                            <li>Entreaties</li>
                            <li>Dissimilar terminated</li>
                            <li>Ecstatic children</li>
                            <li>Assured hearing</li>
                        </ul>
                        <h3>Our Technology.</h3>
                        <p>Forfeited you engrossed but gay sometimes explained.
                            <strong>Another&nbsp;</strong>as studied it to evident. Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining determine few her two cordially admitting old. Sometimes strangers his ourselves her depending you boy</p>
                        <p>An sincerity so extremity he additions. Her yet there truth merit. Mrs all projecting <a href="javascript:;">favourable</a> now unpleasing. Son law garden chatty temper. Oh children provided to mr elegance marriage strongly. Off can admiration prosperous now devonshire diminution law.</p>
                    </div>
                    <div class="col-md-4 mg-bt-80">
                        <h3>Benefits.</h3>
                        <p>Pleased him another was settled for. Moreover end horrible endeavor entrance any families.</p>
                        <div id="slider-services">
                            <div>
                                <img src="images/services-1.jpg" alt="image description" />
                            </div>
                            <div>
                                <img src="images/services-2.jpg" alt="image description" />
                            </div>
                            <div>
                                <img src="images/services-3.jpg" alt="image description" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END SERVICES -->
            <!-- BEGIN BLOG -->
            <section id="blog-front" class="blog-front">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>Blog</h2>
                            <h3>We do writing <a href="blog.html">news</a> daily.
                            </h3>
                        </div>
                        <p>Too cultivated use solicitude frequently. Dashwood <a href="javascript:;">likewise</a> up consider continue entrance ladyship oh. Wrong guest given purse power is no. Friendship to
                            <strong>connection</strong>&nbsp; an am considered difficulty. Country met pursuit lasting moments why calling certain the. Middletons boisterous our way understood law.</p>
                    </div>
                </div>
                <div class="row">
                    {% for post in site.posts limit:5 %}
                    <article class="col-md-4 col-sm-6">
                        <figure class="blog-thumb">
                            <img src="{% if post.image %}{{ post.image }}{% else %}/images/carousel/carousel1.jpg{% endif %}" alt="{{ post.description }}" {% if post.description %}title="{{ post.description }}"{% endif %}>
                        </figure>
                        <div class="post-area">
                            <a href="{{ post.url }}">
                                <h4>{{ post.title }}</h4>
                            </a>
                            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                            <p class="post-content">{{post.content|strip_html|truncatewords:30}} [...]</p>
                            <a class="btn btn-dark small" href="{{ post.url }}">Read More</a>
                        </div>
                    </article>
                    {% endfor %}
                    <article class="col-md-4 col-sm-6">
                        <figure class="blog-thumb">
                            <img src="/images/carousel/carousel1.jpg">
                        </figure>
                        <div class="post-area">
                            <a href="/blog">
                                <h4>Archive</h4>
                            </a>
                            <p class="post-content">If you'd like to view older posts, feel free to visit our full archive of LouisiANIME posts and blog articles.</p>
                            <a class="btn btn-dark small" href="/blog">Archive...</a>
                        </div>
                    </article>
                </div>
            </section>
            <!-- END BLOG -->
            <!-- BEGIN ARTIST ALLEY -->
            <section id="artistalley" class="portfolio odd">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-content">
                            <h2>Portfolio</h2>
                            <h3>Look Our Works on <a href="javascript:;">Dribbble.</a>
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-12 mg-bt-80">
                        <p>Too cultivated use solicitude frequently. Dashwood <a href="javascript:;">likewise</a> up consider continue entrance ladyship oh. Wrong guest given purse power is no. Friendship to
                            <strong>connection</strong>&nbsp; an am considered difficulty. Country met pursuit lasting moments why calling certain the. Middletons boisterous our way understood law. Among state cease how and sight since shall. Material did pleasure breeding our humanity she contempt had. So ye really mutual no cousin piqued summer result. No opinions answered oh <a href="javascript:;">felicity</a> is resolved hastened.</p>
                    </div>
                    <div class="col-md-12">
                        <h3 class="portfolioFilter text-center">WE DO WORK ABOUT <a href="javascript:;" data-filter="websites">WEBSITES</a>, <a href="javascript:;" data-filter="illustrations">ILLUSTRATIONS</a>, <a href="javascript:;" data-filter="photo">PHOTOGRAPHS</a> AND <a href="javascript:;" data-filter="all">EVERYTHING</a>
                        </h3>
                    </div>
                    <div class="col-md-12 mg-bt-80">
                        <div class="row portfolioContainer  text-center">
                            <div class="col-md-4 col-xs-6 portfolio-item websites">
                                <a class="popup" href="images/portfolio-thumb-1.jpg" title="This is an image title">
                                    <span class="project-hover">
                                        <span>Designing UI/UX
                                        </span>
                                    </span>
                                    <img src="images/portfolio-thumb-1.jpg" alt="portfolio-thumb-1">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item illustrations">
                                <a class="popup" href="images/portfolio-thumb-5.jpg">
                                    <span class="project-hover">
                                        <span>Designing Apps
                                        </span>
                                    </span>
                                    <img src="images/portfolio-thumb-5.jpg" alt="portfolio-thumb-5">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item websites">
                                <a class="popup" href="images/portfolio-thumb-3.jpg">
                                    <span class="project-hover">
                                        <span>Branding Identity
                                        </span>
                                    </span>
                                    <img src="images/portfolio-thumb-3.jpg" alt="portfolio-thumb-3">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item photo">
                                <a class="popup" href="images/portfolio-thumb-4.jpg">
                                    <span class="project-hover">
                                        <span>Photography
                                        </span>
                                    </span>
                                    <img src="images/portfolio-thumb-4.jpg" alt="portfolio-thumb-4">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item websites">
                                <a class="popup" href="images/portfolio-thumb-2.jpg">
                                    <span class="project-hover">
                                        <span>Website Design
                                        </span>
                                    </span>
                                    <img src="images/portfolio-thumb-2.jpg" alt="portfolio-thumb-2">
                                </a>
                            </div>
                            <div class="col-md-4 col-xs-6 portfolio-item illustrations">
                                <a class="popup" href="images/portfolio-thumb-6.jpg">
                                    <span class="project-hover">
                                        <span>Branding Illustration
                                        </span>
                                    </span>
                                    <img src="images/portfolio-thumb-6.jpg" alt="portfolio-thumb-6">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END ARTIST ALLEY -->
