---
layout: default
title: Home
description: LouisiANIME is a 3 day anime convention on May 15-17, 2015 in Lafayette,LA. Enjoy celebrity guests, extravagant costumes, arts, crafts, music, and dancing.
---

<!--
<div class="home">

  <h1 class="page-heading">Posts</h1>

  <ul class="post-list">
    {% for post in site.posts %}
      <li>
        <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>

        <h2>
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
        </h2>
      </li>
    {% endfor %}
  </ul>

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
-->

            <!-- BEGIN HOME -->
            <section id="home" class="home">
                <!-- Superslides -->
                <div id="home-slide">
                    <ul class="slides-container text-center">
                        <li>
                            <div class="slide-text">
                                <h2>LouisiANIME 2016</h2>
                                <span>Get ready for fun and anime in 2016!</span>
                                <br/>
                            </div>
                            <div class="slide-filter"></div>
                            <div style="background-image: url('images/carousel/carousel1.png');" class="bg-parallax parallaxize"></div>
                        </li>
                        <li>
                            <div class="slide-text">
                                <h2>Lots to Do</h2>
                                <span>Enjoy interactive workshops, games, movies, and competitions!</span>
                                <br/>
                            </div>
                            <div class="slide-filter"></div>
                            <div style="background-image: url('images/carousel/carousel2.png');" class="bg-parallax parallaxize"></div>
                        </li>
                        <li>
                            <!-- Slide -->
                            <div class="slide-text">
                                <h2>Amazing Guests</h2>
                                <a class="sscroll" href="#guests"><span>Check out the wonderful featured guests from 2015...</span></a>
                                <br/>
                            </div>
                            <div class="slide-filter"></div>
                            <div style="background-image: url('images/carousel/carousel3.png');" class="bg-parallax parallaxize"></div>
                        </li>
                    </ul>
                    <nav class="slides-navigation slidez">
                        <a href="javascript:;" class="next">
                            <i class="fa fa-angle-right"></i>
                        </a>
                        <a href="javascript:;" class="prev">
                            <i class="fa fa-angle-left"></i>
                        </a>
                    </nav>
                </div>
                <!-- End of Superslide -->
            </section>
            <!-- END HOME -->            
            <!-- BEGIN SERVICES -->
            <section id="guests" class="services">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-content">
                            <h2>Guests</h2>
                            <h4>Oh, The  <a href="javascript:;">People</a> You'll Meet.
                            </h4>
                        </div>
                    </div>
                    <div class="col-md-12 mg-bt-80">
                        <p>At LouisiANIME you'll have the opportunity to meet <a href="javascript:;">amazing</a> voice actors who give life to some of your favorite characters. Get tips from veteran <a href="javascript:;">cosplayers</a> who can give tips and insight into their outstanding craftsmanship and costume design. Every year we invite talented and <a href="javascript:;">inspiring</a> individuals that we know you will love to meet. Here are the guests from LouisiANIME 2015:</p>
                    </div>
                    <div class="col-md-12">
                        <div class="row">
                            {% for post in site.categories.guests_2015 %}
                            <div class="col-md-4 mg-bt-40">
                                <div class="row services-item">
                                    <div class="col-xs-12 col-sm-3">
                                        <a href="{{ post.url }}">{% if post.thumbnail %}<img class="img-circle" src="{{ post.thumbnail }}" alt="{{ post.title|truncatewords:2 }}" style="width: 85px; height: 90px;">{% else %}
                                        <div class="services-icon">
                                            <span class="glyphicon glyphicon-info-sign"></span>
                                        </div>
                                        {% endif %}
                                        </a>
                                    </div>
                                    <div class="col-xs-12 col-sm-9">
                                        <div class="services-desc" style="padding-left: 5px;">
                                            <a href="{{ post.url }}"><h4>{{ post.title }}</h4></a>
                                            <p>&nbsp;&nbsp;&nbsp;{{post.content|strip_html|truncatewords:20}}<a href="{{ post.url }}">Read More</a></p>
                                        </div></a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-8 mg-bt-80">
                        <h3>What we do.</h3>
                        <p>Subjects to ecstatic children he. Could ye leave up as built match. Dejection agreeable attention set suspected led offending. Admitting an
                            <strong>performed</strong>&nbsp;supposing by. Garden agreed matter are should formed temper had. Full held gay now roof whom such next was. Ham <a href="javascript:;">pretty</a> our people moment put excuse narrow. Spite mirth money six above get going great own</p>
                        <p>An sincerity so extremity he additions. Her yet there truth merit. Mrs all projecting favourable now unpleasing. Son law garden chatty temper. Oh children provided to mr elegance marriage strongly. Off can admiration prosperous now devonshire diminution law.</p>
                        <ul class="list">
                            <li>Entreaties</li>
                            <li>Dissimilar terminated</li>
                            <li>Ecstatic children</li>
                            <li>Assured hearing</li>
                        </ul>
                        <h3>Our Technology.</h3>
                        <p>Forfeited you engrossed but gay sometimes explained.
                            <strong>Another&nbsp;</strong>as studied it to evident. Merry sense given he be arise. Conduct at an replied removal an amongst. Remaining determine few her two cordially admitting old. Sometimes strangers his ourselves her depending you boy</p>
                        <p>An sincerity so extremity he additions. Her yet there truth merit. Mrs all projecting <a href="javascript:;">favourable</a> now unpleasing. Son law garden chatty temper. Oh children provided to mr elegance marriage strongly. Off can admiration prosperous now devonshire diminution law.</p>
                    </div>
                    <div class="col-md-4 mg-bt-80">
                        <h3>Benefits.</h3>
                        <p>Pleased him another was settled for. Moreover end horrible endeavor entrance any families.</p>
                        <div id="slider-services">
                            <div>
                                <img src="images/services-1.jpg" alt="image description" />
                            </div>
                            <div>
                                <img src="images/services-2.jpg" alt="image description" />
                            </div>
                            <div>
                                <img src="images/services-3.jpg" alt="image description" />
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- END SERVICES -->
            <!-- BEGIN ARTIST ALLEY -->
            <section id="registration" class="portfolio odd">
                <div class="row">
                    <div class="col-md-12">
                        <div class="header-content">
                            <h2>Registration</h2>
                            <h3>We're getting ready for <a href="javascript:;">2016</a>.
                            </h3>
                        </div>
                    </div>
                    <div class="col-md-12 mg-bt-80">
                        <p>Registration is closed right now while we finalize our dates for 2016. Check back later, or keep an eye on our <a href="#blog">blog</a> or <a href="https://www.facebook.com/louisianime">Facebook</a> page for announcements. We'll be ready for you to register before you know it! For now, check out these awesome pictures rom <strong>LouisiANIME 2015</strong>, filled with guests, cosplay, and fun times. If you have any pictures you took and you'd like to share them, <a href="mailto:{{ site.email }}">email us</a> and include them as an attachment.</p>
                    </div>
                    <div class="col-md-12">
                        <h3 class="portfolioFilter text-center">WE DO WORK ABOUT <a href="javascript:;" data-filter="ramada">The Ramada</a>, <a href="javascript:;" data-filter="cosplay">Cosplay</a>, <a href="javascript:;" data-filter="photo">PHOTOGRAPHS</a> AND <a href="javascript:;" data-filter="all">EVERYTHING</a>
                        </h3>
                    </div>
                    <div class="col-md-12 mg-bt-80">
                        <div class="row portfolioContainer  text-center">
                        {% image_set images/gallery/gallery1 id="ramada cosplay" text="Picture from the Ramada." description="Pictures from the Ramada Conference center in Lafayette." %}
                        </div>
                    </div>
                </div>
            </section>
            <!-- END ARTIST ALLEY -->
            <!-- BEGIN BLOG -->
            <section id="blog-front" class="blog-front">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>Blog</h2>
                            <h3>We do writing <a href="blog.html">news</a> daily.
                            </h3>
                        </div>
                        <p>Too cultivated use solicitude frequently. Dashwood <a href="javascript:;">likewise</a> up consider continue entrance ladyship oh. Wrong guest given purse power is no. Friendship to
                            <strong>connection</strong>&nbsp; an am considered difficulty. Country met pursuit lasting moments why calling certain the. Middletons boisterous our way understood law.</p>
                    </div>
                </div>
                <div class="row">
                    {% for post in site.posts limit:5 %}
                    <article class="col-md-4 col-sm-6">
                        <a href="{{ post.url }}"><figure class="blog-thumb">
                            <img src="{% if post.image %}{{ post.image }}{% else %}/images/carousel/carousel1.jpg{% endif %}" alt="{{ post.description }}" {% if post.description %}title="{{ post.description }}"{% endif %}>
                        </figure></a>
                        <div class="post-area">
                            <a href="{{ post.url }}">
                                <h4>{{ post.title }}</h4>
                            </a>
                            <span class="post-date">{{ post.date | date: "%b %-d, %Y" }}</span>
                            <p class="post-content">{{post.content|strip_html|truncatewords:30}} [...]</p>
                            <a class="btn btn-dark small" href="{{ post.url }}">Read More</a>
                        </div>
                    </article>
                    {% endfor %}
                    <article class="col-md-4 col-sm-6">
                        <a href="/blog">
                            <figure class="blog-thumb">
                                <img src="/images/carousel/carousel1.jpg">
                            </figure>
                        </a>
                        <div class="post-area">
                            <a href="/blog">
                                <h4>Archive</h4>
                            </a>
                            <p class="post-content">If you'd like to view older posts, feel free to visit our full archive of LouisiANIME posts and blog articles.</p>
                            <a class="btn btn-dark small" href="/blog">Archive...</a>
                        </div>
                    </article>
                </div>
            </section>
            <!-- END BLOG -->
