            <!-- BEGIN CONTACT -->
            <section id="contact" class="contact odd">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>Contact Us</h2>
                            <h3>Share your <a href="javascript:;">story</a> for us.
                            </h3>
                        </div>
                        <p>Too cultivated use solicitude frequently. Dashwood <a href="javascript:;">likewise</a> up consider continue entrance ladyship oh. Wrong guest given purse power is no. Friendship to
                            <strong>connection</strong>&nbsp; an am considered difficulty. Country met pursuit lasting moments why calling certain the. Middletons boisterous our way understood law.</p>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <form role="form">
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <input type="email" class="form-control col-md-6" id="exampleInputEmail1" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-8">
                                    <input type="text" class="form-control" id="exampleInputPassword1" placeholder="subject">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-11">
                                    <textarea class="form-control" id="inputmessages" rows="10"></textarea>
                                </div>
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-dark big">Send Message</button>
                        </form>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <p>P. Sherman
                            <br>42, Wallaby Way,
                            <br>Sydney, Australlia</p>
                        <br/>
                        <p>
                            Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet
                            <strong>libero</strong>turpis, non venenatis urna. In blandit, odio convallis suscipit.
                        </p>
                    </div>
                </div>
            </section>
            <!-- END CONTACT -->