            <!-- BEGIN CONTACT -->
            <section id="contact" class="contact odd">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>Contact Us</h2>
                            <h3>We want to <a href="javascript:;">hear</a> from you.
                            </h3>
                        </div>
                        <p>We love to hear from you about everything you have to say. Please contact us for any reason at all and we will respond back to you as quickly as possible. Ask us questions, provide feedback, let us know what you liked, or didn't like, guests you'd like to see, or even just say hi. We really appreciate you taking the time to write to us. You're the reason we're hear and are happy to talk to you about anything.</p>
                    </div>
                    <div class="col-sm-6 col-md-8">
                        <form role="form" action="http://www.louisianime.com/formtools/process.php" method="post">
                            <input type="hidden" name="form_tools_form_id" value="2" /> 
                            <div class="form-group row">
                                <div class="col-md-8">
                                    Email: <input type="email" class="form-control col-md-6" name="replyemail" id="replyemail" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-8">
                                    Subject: <input type="text" class="form-control" id="subject" name="subject" placeholder="subject">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-11">
                                    Message: <textarea class="form-control" name="message" id="message" rows="10"></textarea>
                                </div>
                            </div>
                            <br/>
                            <button type="submit" class="btn btn-dark big">Send Message</button>
                        </form>
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <p>You may also contact us through a specific department:</p>
                        <br/>
                        <p>
                            Sed blandit augue vitae augue scelerisque bibendum. Vivamus sit amet
                            <strong>libero</strong>turpis, non venenatis urna. In blandit, odio convallis suscipit.
                        </p>
                    </div>
                </div>
            </section>
            <!-- END CONTACT -->