            <!-- BEGIN CONTACT -->
            <section id="contact" class="contact odd">
                <div class="row">
                    <div class="col-md-12 mg-bt-80">
                        <div class="header-content">
                            <h2>Contact Us</h2>
                            <h3>We want to <a href="javascript:;">hear</a> from you.
                            </h3>
                        </div>
                        <p>We look forward to hearing from you. Please fill out the form below for general information and feedback, or email the department you wish to speak to directly and we'll reply back as soon as we can. We appreciate everyone who takes the time to contact us.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-6 col-md-8">
                        <form id="contact-us" role="form" action="/form-error" method="post">
                            <input type="hidden" name="form_tools_form_id" value="9" />
                            <div class="form-group row">
                                <div class="col-md-8">
                                    Email: <input type="email" class="form-control col-md-6" name="replyemail" id="replyemail" placeholder="Enter email">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-8">
                                    Subject: <input type="text" class="form-control" id="subject" name="subject" placeholder="subject">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-lg-11">
                                    Message: <textarea class="form-control" name="message" id="message" rows="10"></textarea>
                                </div>
                            </div>
                            <br/>
                            <div class="g-recaptcha" data-theme="dark" data-callback="verifySuccess" data-expire-callback="resetVerify" data-sitekey="6LepjgwTAAAAAP3kfLXo3S9KwCQHSZ_Grq-LdFF_" style="transform:scale(0.77);-webkit-transform:scale(0.77);transform-origin:0 0;-webkit-transform-origin:0 0;"></div>
                            <br/>
                            <button type="submit" class="btn btn-dark big">Send Message</button>
                        </form>
                    </div>

                    <script>
                        function verifySuccess(captcha_data) {
                            document.getElementById("contact-us").action = "/validate.php";
                        }

                        function resetVerify(captcha_data) {
                            document.getElementById("contact-us").action = "/form-error";
                        }
                    </script>


                    <div class="col-sm-6 col-md-4">
                        <p>You may also contact us through a specific department:</p>
                        <br/>
                        <ul>
                            <li>Guest Relations:<br/>
                                guestrelations@louisianime.com
                            </li>
                            <li>Programming Head:<br/>
                                programming@louisianime.com
                            </li>
                            <li>Dealers Room Head:<br/>
                                vendors@louisianime.com
                            </li>
                            <li>Artist Alley Head:<br/>
                                vendors@louisianime.com
                            </li>
                            <li>Cosplay Head:<br/>
                                cosplay@louisianime.com
                            </li>
                            <li>Promotional Materials:<br/>
                                executivedirector@louisianime.com
                            </li>
                            <li>Executive Director:<br/>
                                executivedirector@louisianime.com
                            </li>
                            <li>Social Media:<br/>
                                Please contact our social media through Facebook.
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <!-- END CONTACT -->
