<!-- BEGIN FOOTER -->
<footer>
  <div class="row">
    <div class="col-md-12">

          <ul class="social-icon">
            <li>
              <a href="https://www.facebook.com/{{ site.twitter_username }}">
                <i class="fa fa-facebook"></i></a>
            </li>
            <li>
              <a href="https://twitter.com/{{ site.twitter_username }}">
                <i class="fa fa-twitter"></i></a>
            </li>
            <li>
              <a href="mailto:{{ site.email }}">
                <span class="glyphicon glyphicon-envelope"></span>
              </a>
            </li>

          </ul>

        </div>

        <div class="footer-col  footer-col-3">
          <p class="text">{{ site.description }}</p>
    </div>
  </div>

</footer>
