<!-- ==========================
  JS
=========================== -->
  <script src="http://code.jquery.com/jquery-latest.min.js"></script>
  <script src="http://code.jquery.com/ui/1.11.1/jquery-ui.js"></script>
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&amp;sensor=true"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/waypoints.min.js"></script>
  <script src="/js/owl.carousel.js"></script>
  <script src="/js/isotope.pkgd.min.js"></script>
  <script src="/js/jquery.magnific-popup.min.js"></script>
  <script src="/js/creative-brands.js"></script>
  <script src="/js/color-switcher.js"></script>
  <script type="text/javascript" src="/js/jquery.plugin.js"></script>
  <script type="text/javascript" src="/js/jquery.countdown.js"></script>
  <script>
    $(function () {
      var liftOff = new Date(2017, 3-1, 17);
      $(".digits").countdown({
        until: new Date('03/17/17 10:00:00'),
        format: 'WDHMS'
      });
    });
  </script>
  <script src="/js/custom.js"></script>
