    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- Jquery Source -->
    <script src="/js/jquery-1.11.0.min.js"></script>
    <!-- Nivo Light Box Source -->
    <script src="/js/lib/nivo-lightbox.min.js"></script>
    <!-- Bootstrap Source -->
    <script src="/js/bootstrap.min.js"></script>
    <!-- Superslides Source -->
    <script src="/js/lib/jquery.superslides.min.js"></script>
    <!-- Smoothscroll Source -->
    <script src="/js/lib/smoothscroll.js"></script>
    <!-- Sudo Slider Source -->
    <script src="/js/lib/jquery.sudoslider.min.js"></script>
    <!-- Mixitup Source -->
    <script src="/js/lib/jquery.mixitup.min.js"></script>
    <!-- Back to Top Source -->
    <script src="/js/lib/jquery.backtotop.js"></script>
    <!-- Backstretch Source -->
    <script src="/js/lib/jquery.backstretch.min.js"></script>
    <!-- CarouFredSel Source -->
    <script src="/js/lib/jquery.carouFredSel-6.2.1-packed.js"></script>
    <!-- Mobile Responsive Javascript -->
    <script src="/js/lib/jquery.mobileresponsive.js"></script>
    <!-- Google Map Source -->
    <script src="/js/lib/gmap3.min.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js?sensor=true"></script>
    <!-- Main Action Javascript -->
    <script src="/js/main.js"></script>
            <!-- Lightbox Dependencies -->
    <script src="/js/lightbox.min.js"></script>

    <!-- Google Analytics -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-43424834-1', 'auto');
      ga('send', 'pageview');

    </script>