<!DOCTYPE html>
<html>
  <head>
    <!-- PACE Loader -->
    <script src="/js/lib/pace.min.js"></script>
    <link href="/css/lib/pace.css" rel="stylesheet">
    <!-- END PACE Loader -->
    {% include head.html %}
  </head>

  <body data-spy="scroll">
    <div id="loader"></div>
    <div id="main-wrapper">
      {% include header.html %}

      <div id="container">
        {{ content }}
        {% include contact.html %}
        {% include footer.html %}
      </div>
    </div>
    {% include navigate.html %}
    {% include scripts.html %}
  </body>

</html>
