<!DOCTYPE html>
<html>
<head>
  {% include head.html %}
</head>
  <body>
  	
    <div id="main-wrapper">
           	 {% include header.posts.html %}
        <div id="container" class="wrapper">
            <!-- BEGIN BLOG -->
            <section id="blog" class="blog">
                <!-- Begin Post Number Navigation -->
                <div class="row">
                  {% assign i = 0 %}
                  {% for post in site.posts %}
                    {% assign i = i | plus: 1 %}
                    {% if post.url == page.url %}
                    {% assign min_post = i | minus: 3 %}
                    {% assign max_post = i | plus: 1 %}
                    {% endif %}
                    {% assign begin_navlinks = i | minus: 5 %}
                    {% assign end_of_posts = i %}
                  {% endfor %}

                  {% assign i = 0 %}
                  {% for post in site.posts %}
                  {% if i == 0 %}
                  {% if page.next %}
                    <div class="col-lg-1 medium">
                        <ul class="pagination">
                            <li><a href="{{ post.url }}"><span class="glyphicon glyphicon-fast-backward"></span></a></li>
                        </ul>    
                    </div>
                    <div class="col-lg-1 medium">
                        <ul class="pagination">
                            <li><a href="{{ page.next.url }}"><span class="glyphicon glyphicon-step-backward"></span></a></li>
                        </ul>    
                    </div>
                  {% else %}
                        <div class="col-lg-1"></div>
                        <div class="col-lg-1"></div>
                  {% endif %}
                  {% endif %}
                    {% if i >= begin_navlinks and i < min_post %}
                        {% assign i = i | plus: 1 %}
                    {% capture l %}{{ i }}{% endcapture %}
                    <div class="col-lg-1 medium">
                        <ul class="pagination">
                            <li><a href="{{ post.url }}">{{ l }}</a></li>
                        </ul>    
                    </div>
                    {% elsif i > max_post and i < 5 %}
                        {% assign i = i | plus: 1 %}
                    {% capture l %}{{ i }}{% endcapture %}
                    <div class="col-lg-1 medium">
                        <ul class="pagination">
                            <li><a href="{{ post.url }}">{{ l }}</a></li>
                        </ul>    
                    </div>
                    {% elsif i < min_post %}
                    {% assign i = i | plus: 1 %}
                    {% elsif i > max_post %}
                    {% assign i = i | plus: 1 %}
                    {% elsif page.url == post.url %}
                    {% assign i = i | plus: 1 %}
                    {% capture l %}{{ i }}{% endcapture %}
                    <div class="col-lg-1">
                        <ul class="pagination">
                    {% if page.next %}
                            <li class="small"><a href="{{ page.next.url }}"><span class="glyphicon glyphicon-step-backward"></span></a></li>
                    {% endif %}
                            <li class="active"><a href="javascript:;">{{ l }}</a></li>
                    {% if page.previous %}
                            <li class="small"><a href="{{ page.previous.url }}"><span class="glyphicon glyphicon-step-forward"></span></a></li>
                    {% endif %}
                        </ul>    
                    </div>
                    {% else %}
                    {% assign i = i | plus: 1 %}
                    {% capture l %}{{ i }}{% endcapture %}
                    <div class="col-lg-1 medium">
                        <ul class="pagination">
                            <li><a href="{{ post.url }}">{{ l }}</a></li>
                        </ul>    
                    </div>
                    {% endif %}
                  {% if i == end_of_posts %}
                  {% if page.previous %}
                    <div class="col-lg-1 medium">
                        <ul class="pagination">
                            <li><a href="{{ page.previous.url }}"><span class="glyphicon glyphicon-step-forward"></span></a></li>
                        </ul>    
                    </div>
                    <div class="col-lg-1 medium">
                        <ul class="pagination">
                            <li><a href="{{ post.url }}"><span class="glyphicon glyphicon-fast-forward"></span></a></li>
                        </ul>    
                    </div>
                  {% else %}
                        <div class="col-lg-1"></div>
                        <div class="col-lg-1"></div>
                  {% endif %}
                  {% endif %}
                  {% endfor %}

                </div>
                <!-- End Post Number Navigation -->
                <div class="row">
                    <div class="col-md-9">
                        <div id="primary" class="row">
                            <div class="col-md-12">
                                <!-- BEGIN ARTICLE -->
                                <article class="post">
                                  <header class="post-header">
                                    <h1 class="post-title">{{ page.title }}</h1>
                                    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • {{ page.author }}{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>
                                  </header>
                                    <div class="post-content">
                                        {{ content }}
                                    </div>
                                </article>
                                <!-- END ARTICLE -->
                            </div>
                            <div class="row">
                                <div class="col-md-3 col-md-offset-8">
                                    <h3 style="text-align: right; font-weight: bold;"><a href="javascript:;" onClick="history.go(-1);return true;">Back</a></h3>
                                </div>
                            </div>
                            <!-- BLOG COMMENTS -->
						    <div id="disqus_thread"></div>
					    	<script type="text/javascript">
					        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
					        var disqus_shortname = 'louisianime'; // required: replace example with your forum shortname
					        var disqus_identifier = '{{ page.url }}';
					        /* * * DON'T EDIT BELOW THIS LINE * * */
					        (function() {
					            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
					            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
					            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
					        })();
					    	</script>
					    	<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
					    	<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
                            <!-- END BLOG COMMENTS -->
                        </div>
                    </div>
                </div>
            </section>
            <!-- END BLOG -->
        </div>

        <div class="push"></div>
    </div>
    {% include footer.html %}
    {% include navigate.html %}
    {% include scripts.html %}
  </body>

</html>



